/* Wei Shi, weishi, 15437, 2012/1/30 */
@charset "utf-8";
/* Site stats */
.stats {
	width:57%;
	float:left;
	height: 150px;
	background-color:#EBF2FC;
	border-radius:10px;
	padding:10px;
	text-align:center;
}
.stats {
	clear:both;
	text-align:center;
}
.statsEntry {
	font-size:20px;
	float:left;
	text-align:center;
	display:inline-block;
	width:50%;
	margin:0px auto;
}
.statsEntry div {
	margin:5px;
	padding:5px;
	font-weight:bold;
	font-size:48px;
	height:60px;
	line-height:60px;
	background-color:#CCCCCC;
	border-radius:5px;
}
.statsEntry div:hover {
	background-color:white;
}
#signUpLink {
	clear:both;
	text-align:center;
}
#signUpLink a {
	font-size:36px;
	font-weight:bold;
	text-decoration:none;
	color:#06C;
	border-radius:5px;
	text-align:center;
	display:inline-block;
	width:35%;
}
#signUpLink a:hover {
	background-color:#390;
	color:white;
}
.popularList {
	margin-top:20px;
	padding-top:20px;
	clear:both;
}
.popularHeader {
	clear:both;
	height:30px;
	margin:5px auto;
	border-bottom: 1px double;
	padding:5px;
	line-height:30px;
	width:100%;
	text-align:center;
	font-size:26px;
}
.popularEntry {
	clear:both;
	height:70px;
	width:80%;
	margin:5px auto;
	border: 1px dashed;
	border-radius:10px;
	padding:5px;
}
.popularEntry:hover {
	background-color:#EBF2FC;
}
.friendPic {
	float:left;
	height:70px;
	border-radius:5px;
}
.friendName {
	float:left;
	line-height:70px;
	width:40%;
	text-align:center;
	font-size:26px;
}
.friendNum {
	float:left;
	line-height:70px;
	width:40%;
	text-align:center;
	font-size:26px;
}
/* Login */
.login {
	width: 38%;
	float:right;
	height: 150px;
	background-color:#EBF2FC;
	border-radius:10px;
	padding:10px;
}
#fs legend {
	font-size:20px;
	line-height:35px;
	padding:3px;
}
.entry label {
	font-size:20px;
}
.entry * {
	vertical-align:middle;
}
