/* Wei Shi, weishi, 15437, 2012/1/30 */
@charset "utf-8";
/* Site stats */
.stats {
	width:57%;
	float:left;
	height: 150px;
	background-color:#EBF2FC;
	border-radius:10px;
	padding:10px;
	text-align:center;
}
.stats {
	clear:both;
	text-align:center;
}
.statsEntry {
	font-size:20px;
	float:left;
	text-align:center;
	display:inline-block;
	width:50%;
	margin:0px auto;
}
.statsEntry div {
	margin:5px;
	padding:5px;
	font-weight:bold;
	font-size:48px;
	height:60px;
	line-height:60px;
	background-color:#CCCCCC;
	border-radius:5px;
}
.statsEntry div:hover {
	background-color:white;
}


#home-top{
	position:relative;
	border-radius:10px;
}


/* Login */
#login {
	position:absolute;
	top:15px;
	right:15px;
	width: 225px;
	background:rgba(255,255,255,0.6);
	border-radius:10px;
	padding:10px;
}
.entry{
	margin:0px auto;
	padding-top:5px;
}
.textEntry{
	width:80%;
	border-width:2px;;
	border-color:#999;
	border-radius:5px;
	height:25px;
}
.textEntry:focus{
	border-width:2px;
	border-color:#FFF;
}
.img-home{
	border-radius:10px;
}
.entry * {
	vertical-align:middle;
}

/* Bottom */
#home-bottom{
	position:relative;
	border-radius:10px;
}
#board{
	position:absolute;
	top:110px;
	left:410px;
	width:470px;
	height:320px;
}
#board div{
	width:48%;
	height:245px;
	border-radius:10px;
	font-weight:bold;
	font-size:48px;
	margin:3px;
	padding-top:65px;
}
#board div:hover{
	color:#F00;
}
#board-left{
	float:left;
	background-color:#FF0;
}
#board-right{
	float:right;
	background-color:#66FF00;
}