/* Wei Shi, weishi, 15437, 2012/1/30 */
@charset "utf-8";
#content {
	width:100%;
	margin-top:30px;
}

#sidebar {
	float:right;
	width:34%;
}
/* Main */
#mainbar {
	float:left;
	width:64%;
}
.newStory {
	clear:both;
	padding:5px;
	text-align:center;
}
.newStory input{
	margin:auto;
}
/* newsFeed */
#newsHeader{
	text-align:left;
}
#newsFeed li{
	margin-top:4px;
}
.feedEntry {
	clear:both;
	width:100%;
	height:100%;
	padding-top:12px;
	padding-bottom:6px;
	border-top: 1px dashed;
	border-radius:5px;
	overflow:auto;
}
.feedEntry:hover {
	background-color:#EBF2FC;
}

/* Side bar */

.bigPic {
	float:left;
	width:128px;
	height:128px;
	border-radius:15px;
}
.profileInfo {
	list-style-type:none;
	text-align:left;
}
.profileEdit {
	clear:both;
}
.mySection {
	clear:both;
	background-color:#999999;
}
.listHeader {
	clear:both;
	height:20px;
	margin:5px auto;
	border-bottom: 1px double;
	padding:5px;
	line-height:20px;
	width:100%;
	text-align:center;
	font-size:18px;
}
.itemName{
	float:left;
	margin:3px;
	margin-left:16px;
}
.itemAction{
	float:left;
	margin-top:8px;
	margin-left:16px;
	display:table-cell;
	vertical-align:middle;
}
.listEntry {
	clear:both;
	width:100%;
	line-height:36px;
	overflow:auto;
}
.friendEntry:hover {
	background-color:#EBF2FC;
}
