/* Wei Shi, weishi, 15437, 2012/1/30 */
@charset "utf-8";
/* Main */
.main {
	clear:left;
	float:left;
	width:65%;
}
.newStory {
	clear:both;
	padding:5px;
	text-align:center;
}
.newStory input{
	margin:auto;
}
/* newsFeed */

.newsFeed {
}
.feedEntry {
	clear:both;
	width:100%;
	height:100%;
	padding-top:12px;
	padding-bottom:6px;
	border-top: 1px dashed;
	border-radius:5px;
	overflow:auto;
}
.feedEntry:hover {
	background-color:#EBF2FC;
}
.postPic {
	width:10%;
	float:left;
}
.postBody {
	width:87%;
	float:left;
	background-color:transparent;
}
.content {
	padding:8px;
	background-color:transparent;
}
.actions {
	margin-left:16px;
	margin-right: 16px;
	float:left;
	margin-bottom:10px;
}
.actions a {
	text-decoration:none;
	display:block;
}
.actions a:hover {
	background-color:white;
	border-radius:5px;
}
.meta {
	float:left;
}
.comment {
	clear:both;
}
.storyPic {
	width:100%;
	border-radius:10px;
}
/* Side bar */

.side {
	clear:right;
	float: right;
	width:33%;
}
.bigPic {
	float:left;
	width:128px;
	height:128px;
	border-radius:15px;
}
.profileInfo {
	float:left;
}
.profileEdit {
	clear:both;
}
.friendsList {
	clear:both;
}
.friendHeader {
	clear:both;
	height:20px;
	margin:5px auto;
	border-bottom: 1px double;
	padding:5px;
	line-height:20px;
	width:100%;
	text-align:center;
	font-size:18px;
}
.friendPic {
	float:left;
	width:32px;
	height:32px;
	margin:3px;
}
.friendName{
	float:left;
	margin:3px;
	margin-left:16px;
}
.friendAction{
	float:left;
	margin-top:8px;
	margin-left:16px;
	display:table-cell;
	vertical-align:middle;
}

.friendEntry {
	clear:both;
	width:100%;
	line-height:36px;
	overflow:auto;
}
.friendEntry:hover {
	background-color:#EBF2FC;
}
